@import "font.css";

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 1130px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
button {
    border: none;
    background: none;
}
.btn-hollow {
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D253C;
    padding: 13px 31px 14px 31px;
}
.btn-orange {
    position: relative;
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 21px 73px 20px 29px;
}
.btn-orange img {
    position: absolute;
    top: 24px;
    right: 35px;
}
.section-suptitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
}
.section-title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
}
.section-desc {
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
}
.section-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
}
.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    padding: 0 60px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav-item {
    position: relative;
    margin-left: 35px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
}
.header-nav-item:hover {
    border-bottom: #007188 solid 1px;
    color: #007188;
}
.header-btn {
    margin-left: 39px;
}

#hero {
    height: calc(100vh - 105px);
    background: url("../images/hero 1.png") no-repeat right/contain;
    padding: 223px 0 0 106px;
}
.hero-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F46752;
}
.hero-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    text-transform: capitalize;
    color: #1D253C;
    width: 463px;
}
.hero-desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482;
    width: 411px;
    margin: 26px 0 40px 0;
}

#secure {
    background: #F9F5F2;
    height: 645px;
    padding: 85px 0 84px;
}
.secure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 144px;
}
.secure-img {
    background: #FFFFFF;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.04);
    border-radius: 0;
    padding: 31px 43px 32px;
    margin-bottom: 21px;
}
.secure-img img {
    width: 414px;
    height: 373px;
}
.secure-subtitle {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    padding-left: 7px;
}
.secure-subtitle img {
    position: absolute;
    left: 0;
    top: 3px;
}
.secure-infoside {
    padding: 83px 0;
}
.secure-title {
    margin: 26px 0 19px;
}
.secure-desc {
    margin-bottom: 32px;
}

#technology {
    position: relative;
    padding: 148px 0 164px;
}
.technology-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
}
.technology-info {
    padding: 126px 0 126px;
}
.technology-title {
    margin: 27px 0 35px;
}
.technology-desc {
    margin-bottom: 15px;
    width: 483px;
}
.technology-img {
    position: relative;
}
.technology-dots {
    position: absolute;
    left: -45px;
    top: -35px;
}
.technology-section-img {
    position: relative;
    width: 542px;
    height: 510px;
}
.technology-img-desc {
    position: absolute;
    z-index: 1;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    padding: 20px 25px 19px 25px;
    width: 351px;
    left: -85px;
    bottom: -25px;
}
.technology-umbrella {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -185px;
    margin: 0 auto;
    z-index: 3;
}

#insurance {
    position: relative;
    padding: 91px 0 85px;
    background: #F8F8F8;
    text-align: center;
    z-index: 1;
}
.insurance-title {
    margin: 30px 0 37px;
    font-size: 43px;
}
.insurance-desc {
    margin-bottom: 41px;
}
.insurance-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 70px;
}
.top-rated-card {
    height: 320px;
    padding: 70px 63px 72px 63px ;
    text-align: center;
    background: #FFFFFF;
}
.top-rated-cardtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #1D253C;
    margin-top: 15px;
    margin-bottom: 5px;
}
.top-rated-carddesc {
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    color: #5A6482;
}
.top-rated-nav {
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #1D253C;
}
.experience-card {
    height: 320px;
    padding: 30px 36px 62px 37px;
    text-align: center;
    background: #FFFFFF;
}
.experience-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #1D253C;
    margin-top: -20px;
}
.experience-desc {
    font-weight: normal;
    font-size: 11px;
    line-height: 26px;
    color: #5A6482;
    margin-top: 15px;
}
.insurance-card {
    height: 320px;
    padding: 44px 31px 43px 31px;
    text-align: center;
    background: #FFFFFF;
}
.insurance-cardtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #1D253C;
    margin-bottom: 10px;
}
.insurance-carddesc {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #5A6482;
}
.insurance-dog-img {
    position: absolute;
    right: 0;
    bottom: -30px;
}

#steps {
    background: #363839;
    padding: 120px 0 101px;
}

.steps-title {
    color: #FFFFFF;
    margin: 26px 15px;
}

.steps-desc {
    text-align: center;
    color: #ACB4BF;
    width: 731px;
    margin-bottom: 63px;
}